<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %>
    <%= f.text_field :firstName %>
  </div>

  <div class="field">
    <%= f.label :lastName %>
    <%= f.text_field :lastName %>
  </div>

  <div class="field">
    <%= f.label :dateOfBirth %>
    <%= f.date_select :dateOfBirth %>
  </div>

  <div class="field">
    <%= f.label :startDate %>
    <%= f.date_select :startDate %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
