<%= form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bookID %>
    <%= f.number_field :bookID %>
  </div>

  <div class="field">
    <%= f.label :employeeID %>
    <%= f.number_field :employeeID %>
  </div>

  <div class="field">
    <%= f.label :customerID %>
    <%= f.number_field :customerID %>
  </div>

  <div class="field">
    <%= f.label :orderID %>
    <%= f.number_field :orderID %>
  </div>

  <div class="field">
    <%= f.label :invoiceDate %>
    <%= f.date_select :invoiceDate %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
